if defined INIT_STARTENV (
    echo skipping venv setup, already initialized
    goto :End
)
set "INIT_STARTENV=INIT_ONCE"

rem edit the path if needed to your ffmpeg bin folder
winget install ffmpeg -v 7.0.1
set PATH=%PATH%;%LOCALAPPDATA%\Microsoft\WinGet\Packages\Gyan.FFmpeg_Microsoft.Winget.Source_8wekyb3d8bbwe\ffmpeg-7.0.1-full_build\bin

echo "setting up virtual env"
pip3 install virtualenv

virtualenv --python="c:\Python3\python.exe" venv
call ./venv/Scripts/activate.bat

echo "installing bar chart race requirements..."
pip install -r requirements.txt


:End
rem pip freeze